<html>
<head>
  <title>Home</title>
  <style>
    html {
      font-size: 125%;
    }
    
    body {
      font-family: sans-serif;
      background-color: #000;

      margin: 2rem;
    }
  </style>
</head>
<body>
  <header>
    <h1>꒦꒷꒦꒷ YUCKY TOWN ꒷꒦꒷꒦</h1>
  </header>
  <main>

    cass

  </main>
</html>