<html>
<head>
  <title>yucky.town</title>
  <script src="/assets/yucky.js?v=1"></script>
  <link rel="stylesheet" href="/assets/yucky.css?v=2">
</head>
<body class="yucky">
  <header class='y-logo'>
    <%= File.read(File.expand_path(File.join(__dir__, '_logo.svg'))) %>
  </header>
  <main>
  </main>
</html>